
<div class="d-flex flex-row">
    <div><InputCheckbox @bind-Value="Item.IsComplete" @bind-Value:after="updateItem"></InputCheckbox></div>
    <div class="px-2 flex-grow-1 @(Item.IsComplete ? "complete" : "")">@Item.Name</div>
    <div><a @onclick="deleteItem"><i class="bi bi-trash-fill text-danger"></i></a></div>
</div>


@code {
    /// <summary>
    /// Tasker Item we want to display
    /// </summary>
    [Parameter, EditorRequired]
    public TaskerItem? Item{ get; set; }

    /// <summary>
    /// Delete item callback
    /// </summary>
    [Parameter]
    public EventCallback<TaskerItem> OnDeleteCallback { get; set; }  

    [Parameter]
    public EventCallback<TaskerItem> OnCompleteCallback { get; set; }


    private async Task deleteItem()
    {
        await OnDeleteCallback.InvokeAsync(Item);
    }

    private async Task updateItem()
    {
        await OnCompleteCallback.InvokeAsync(Item);
    }
}
