@page "/tasker"

<div class="d-flex align-items-center justify-content-center">
    <div class="task p-5">
        <div class="p-2 text-center mb-3">
            <img src="/img/CheckmateTrans.png" width="300" />
        </div>
        <div>
            <EditForm Model="ti">
                <DataAnnotationsValidator />
                <div class="d-flex flex-row gap-2">
                    <InputText class="form-control" placeholder="Enter a task" @bind-Value="ti.Name"></InputText>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
                <div>
                    <ValidationMessage For="() => ti.Name" />
                </div>
            </EditForm>
        </div>
        <hr />
    </div>
</div>
@code {
    private TaskerItem ti = new();
}
