.task {
    font-size: 1.5rem;
    border: 5px solid var(--bs-subtle-danger);
    background: #E0EAFC; /*fallback for older browsers*/
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC); /*Chrome 10-25, Safari*/
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE*/
    border-radius: 10px;
    min-width: 50%;
}
